<div class="topPage">
  <div class="listWrapper">
    <% @lists.each do |list| %>
      <div class="list">
        <div class="list_header">
          <h2 class="list_header_title"><%= list.title %></h2>
          <div class="list_header_action">
            <%= link_to content_tag(:i, '', class: 'fas fa-trash'), list, method: :delete, data: { confirm: "#{list.title}を削除しますか？" } %>

            <%= link_to content_tag(:i, '', class: 'fas fa-pen'), edit_list_path(list) %>
          </div>
        </div>
        <div class="addCard">
            <i class="fa-solid fa-plus"></i>
            <%= link_to "タスクを追加", new_list_task_card_path(list), class: "addCard_link" %>
          </div>
        <div class="cardWrapper">
          <% list.task_cards.each do |t| %>
            <div class="task", id ="list" >
              <h3 class="task_title">
                <%= t.title %>
              </h3>
              <ul class="nav-lists">
                <li class="options" id="lists" >
                  <i class="fas fa-bars" ></i>
                </li>
              </ul>
              <ul class="show-lists hidden" id="pull-down">
                <li><%= link_to '詳細ページ',list_task_card_path(list, t), class:"pull-down-list" %></li>
                <li><%= link_to '編集ページ',edit_list_task_card_path(list, t), class:"pull-down-list" %></li>
              </ul>
              <% if t.memo.size > 0 %> 
                <div class="task_detail is-exist">メモ:<%= t.memo %></div>
              <% end %>
              <%= check_box_tag :test1 %>
              <%= label_tag :test1, "完了" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

